<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!--
    General Information
    - Text values (not numeric / boolean) supported environment variables
    - Invalid or unset values use a defined default value
  -->     
  
  <!-- 
    System-wide hot-key to show the launcher (decimal modifiers:virtual key code)
    https://docs.microsoft.com/en-us/windows/win32/inputdev/wm-hotkey#parameters
    https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
    
    MOD_ALT      0x0001
    MOD_CONTROL  0x0002
    MOD_SHIFT    0x0004
    MOD_WIN      0x0008
    
    Proven standards:
    - Release: Win + Esc
    - Development: Alt + Esc
    
    Default value: 8 + 27 
  -->
  <hotKey>8 + 27</hotKey>

  <!-- Cell size in pixels (height and width) -->
  <gridSize>101</gridSize>
  <!-- Distance between cells in pixels -->
  <gridGap>25</gridGap>
  <!-- Distance from the border in the cells in pixels -->
  <gridPadding>10</gridPadding>
  <!-- Radius for rounding the corners from the grid in pixels -->
  <gridCornerRadius>4</gridCornerRadius>

  <!-- Scales the view according to the resolution of the primary screen. -->
  <autoScale>true</autoScale>

  <!-- 
    Opacity of background in percents (100 - 0)
    Less than 50 makes no sense, because then the UI is difficult to see.
    
    Default value: 95
  -->
  <opacity>95</opacity>

  <!--
    BackgroundImage is optionally a path relative to the working directory.
    The image is centered and scaled to fit. If the image does not exist or it
    uses an unsupported format, the image will be ignored.
  -->
  <backgroundImage></backgroundImage>

  <!--
    Coloring
    
        backgroundColor
    General background color
    Default value: #000000

        foregroundColor
    General foreground color
    Default value: #C8C8C8

        borderColor
    Border color from grid
    Default value: #313131
    
        highlightColor 
    Color for highlighting (e.g. navigation)
    Default value: #FAB400
  -->
  
  <!-- Dark Coloring (default) -->
  <!--
  <backgroundColor>#000000</backgroundColor>
  <foregroundColor>#C8C8C8</foregroundColor>
  <borderColor>#313131</borderColor>
  <highlightColor>#FAB400</highlightColor>
  -->

  <!--
    Font size in the tiles.
    
    Default value: Size of the system font
  -->
  <fontSize>9.5</fontSize>

  <!-- Optional actions for Windows events --> 
  <!--
  <events>
    <session>
      <ending>
        <destination>...</destination>
        <arguments>...</arguments>
        <workingDirectory>...</workingDirectory>
      </ending>
    </session>
  </events>
  -->  

  <tiles>
    <tile>
      <!-- Number of the tile (1 - 40) --> 
      <index>17</index>
      <!-- Application name and tile title -->
      <title>hosts</title>
      <!--
        Icon file, optionally with index separated by colon.
        Supports many image formats and icons in exe, dll, ... files.
      -->
      <icon>%WINDIR%\system32\inetcpl.cpl:26</icon>
      <!-- Path of the application file or `exit` to exit the launcher -->
      <destination>%WINDIR%\system32\notepad.exe</destination>
      <!-- Arguments for the program start -->
      <arguments>%WINDIR%\System32\drivers\etc\hosts</arguments>
      <!-- Working directory in which the application is executed -->
      <workingDirectory>%WINDIR%\System32\drivers\etc</workingDirectory>
    </tile>
    <tile>
      <index>27</index>
      <title>Services</title>
      <destination>%WINDIR%\system32\services.msc</destination>
      <workingDirectory>%HOMEDRIVE%%HOMEPATH%</workingDirectory>
    </tile>
    <tile>
      <index>28</index>
      <title>Settings</title>
      <icon>%WINDIR%\system32\inetcpl.cpl:46</icon>
      <destination>%WINDIR%\system32\notepad.exe</destination>
      <arguments>launcher.xml</arguments>
    </tile>
    <tile>
      <index>31</index>
      <title>Terminal</title>
      <destination>%ComSpec%</destination>
      <workingDirectory>%HOMEDRIVE%\</workingDirectory>
    </tile>
    <tile>
      <index>39</index>
      <title>Documents</title>
      <icon>%WINDIR%\system32\shell32.dll:126</icon>
      <destination>%WINDIR%\explorer.exe</destination>
      <arguments>%HOMEDRIVE%%HOMEPATH%</arguments>
    </tile>
    <tile>
      <index>40</index>
      <title>Exit</title>
      <icon>%WINDIR%\system32\shell32.dll:27</icon>
      <destination>EXIT</destination>
      <workingDirectory>%PLATFORM_HOME%</workingDirectory>
    </tile>
  </tiles>
</settings>